@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.First_Page {
  background-color: white;
  height: 100vh;
  position: fixed;
  color: #111;
  width: 100%;
}

.First_Page > h2 {
  position: absolute;
  font-size: 100px;
  font-family: "Poppins", sans-serif;

  /* color: transparent; */
  /* -webkit-text-stroke: 2px black; */

  left: 30%;
  top: 40%;
}

.Second_Page {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;

  clip-path: inset(0% 0% 0% 0%);
}

.Second_Page h2 {
  position: relative;
  font-family: "Poppins", sans-serif;

  font-size: 100px;
  position: fixed;
  white-space: nowrap;

  /* color: transparent; */
  /* -webkit-text-stroke: 2px white; */

  left: 30%;
  top: 40%;
}

.Third_Page {
  position: relative;
  top: 2350px;
  height: 970px;
  width: 100%;
  z-index: 100;
  background-color: #636e72;
}

.Third_Page h2 {
  position: absolute;
  font-family: "Times New Roman", Times, serif;

  font-size: 120px;
  color: transparent;
  -webkit-text-stroke: 2px white;

  left: 30%;
  top: 40%;

  /* position: fixed; */
  /* white-space: nowrap; */
}

::-webkit-scrollbar {
  display: none;
}

.NavBar {
  height: 75px;
  width: 100%;
  color: black;
  position: fixed;
  z-index: 200;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  font-size: 31px;
  margin-left: 10px;
  color: white;
}

.navLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 21px;
}

a:hover{
  border-bottom: 2px solid black;
}

.Fourth_Page {
  position: relative;
  top: 970;
  /* background: #2d3436; */
  background: white;
  /* background: red; */
  height: 600px;
  z-index: 1000;
}

.Footer {
  background-color: #111;
  height: 140px;
  width: 100%;
  color: white;
  position: relative;
  top: 130%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Footer p {
  position: relative;
  left: 74.5%;
}

.Footer > i {
  margin: 10px;
  font-size: 30px;
  position: relative;
  left: 38px;
}

.Products {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 840px;
  /* padding: 10px; */
  /* background-color: red; */
}

.text h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text p {
  color: white;
  margin-top: 14px;
}

.text {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Product_Cards {
  /* background-color: red; */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 80%;
  top: 110px;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
}

.Product_Cards img {
  display: inline-block;
  width: 428px;
  height: 332px;
  margin: 4px;
  /* filter: blur(1px); */
}

.Product_Cards img:hover {
  transform: scale(97%);
  /* filter: blur(0px); */
  filter: opacity(0.5);
  transition: 0.5s;
  box-shadow: 2px 2px 10px 2px black;
}

.Pre-Release {
  position: absolute;
  margin-top: 30px;
  background: white;
  height: 750px;
}

.jtext {
  position: relative;
  left: 0%;
  /* background-color: red; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jtext h1 {
  font-size: 45px;
  text-transform: uppercase;
}

.jtext .text,
.jtext p {
  margin-top: -30px;
  padding: 50px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.jtext p {
  /* background-color: red; */
  padding: 10px;
  margin-top: -10px;
}
